<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dessert">
            <h2><span>Dessert</span> {{dessert.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Label</span></dt>
                <dd>
                    <span>{{dessert.label}}</span>
                </dd>
                <dt><span>Commande</span></dt>
                <dd>
                    <div *ngIf="dessert.commande">
                        <a [routerLink]="['/commande', dessert.commande?.id, 'view']">{{dessert.commande?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dessert', dessert.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
